<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="static_/css/bootswatch_litera.min.css">
        <link rel="stylesheet"href="static_/css/datatables.min.css">
        <link rel="stylesheet" href="static_/css/timeline.css">
    </head>
    <body>
        <div class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">网盘</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            {{ .PageContent }}
        </div>
    </body>



<!-- 导入顺序不能乱，因为后续的js依赖于前一个，顺序反了会到时功能失效 -->
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="static_/js/jquery-3.3.1.min.js"></script>
<script src="static_/js/jquery-ui.min.js"></script>
<script src="static_/js/bootstrap.min.js"></script>
<script src="static_/js/datatables.min.js"></script>
<script src="static_/js/vue.js"></script>
</html>